body{

    background-size: cover; 
    margin: 0;
    font-family: Arial, sans-serif;   
  }
  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ECECEC;
      padding: 10px;
  }
  
  .logo img {
      max-width: 100px;
  }
  
  .nav-links {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 550px;
  }
  
  .nav-links li {
      margin: 0 10px;
  }
  
  li a {
      display: block;
      color: rgb(0, 0, 0);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #cecece;
      
    }
    
    .imagen-con-superposicion {
      position: relative;
      text-align: center;
      color: rgb(116, 90, 90);
    }
    .contenido-superpuesto {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }